.icon {
  text-decoration: none;
  color: white;
  font-size: 30px;
  transition: 0.7s all;
}
.email-icon {
  display: inline-block;
}
.email-icon:hover {
  cursor: pointer;
  color: #950740;
}

footer {
  color: white;
  background-color: #101013;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}
.email-address {
  transition: 0.1s all;
  display: none;
}
.show-email {
  display: inline-block;
}
